#formular {
    display: flex;
    justify-content: center; /* Zarovná formulář na střed horizontálně */
    align-items: center; /* (Volitelně) zarovná na střed vertikálně, pokud chcete */
  }
  
  form {
    max-width: 1050px; /* Maximální šířka formuláře */
    width: 100%; /* Aby se formulář přizpůsobil velikosti okna */
    margin: 0 auto; /* Zarovnání na střed */
    margin-top: 50px;
    margin-bottom: 65px;
    background-color: black; /* Volitelné pozadí */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Volitelný stín */
    border-radius: 10px; /* Kulaté rohy formuláře */
    margin-left: auto;
    margin-right: auto;
  }

  #dotaz{
    height: 80px;
  }
  
  #jmeno-prijmeni{
    margin-top: 20px;
  }
  #btnOdeslat{
    display: inline-block;
    padding: 10px 20px;
    background-color: #005494;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    font-size: 40px;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  button#btnOdeslat:hover {
    background-color: #0056b3; /* Změna barvy při přejetí myší */
  }
  
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: #f5f5f5;
  }
  option {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    background-color: white;
    color: #666;
  }

  h1 {
    color: black; /* Barva textu hlavičky */
    text-align: center; /* Zarovnání hlavičky na střed */
    background-color: inherit; /* Sdílení stejného pozadí jako fieldset */
    margin: 0; /* Zrušení výchozích okrajů */
    margin-top: 50px;
    font-size: 50px;
  }
  
  fieldset{
    background-color: #1B272F;
    border: none;
    border-radius: 7px;
    width: 100%; 
    margin: auto;
  }
  label{
    color: #ffff;
    display: block;
    margin-bottom: 10px;
  }
  input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 35px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border-color: black;
    border-width: 1px;
  }