.produkt h2{
    color: #005494;
    font-size: 3rem;
    }
  .produkt p{
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 30px;
    }
  .produkt-image img{
    width: 80%;
    height: auto;
    border-radius: 7px;
    }      
    
  .produkt-text {
    flex: 1;
    padding-left: 60px;
    padding-right: 0;
    display: flex;
    flex-direction: column; /* Položí prvky pod sebe */
    align-items: center;    /* Zarovná prvky na střed horizontálně */
    position: relative;
    bottom: 30px;
    }
  .produkt-image{
    flex: 1;
    text-align: center;
    width: 90%;
    }
  
    .hidden {
      display: none;
    }
    
    .objednani{
      background-color: #005494;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 35px;
      bottom: 3%;
      left: 4%;
    }
    #emailOverlay {
      font-size: 45px;
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); 
      z-index: 1000; 
  }
  
  #emailForm {
      position: absolute;
      width: 80%;
      height: auto; /* Nastaveno na auto, aby se přizpůsobilo výšce obsahu */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;
      align-items: center; /* Zarovnání obsahu na střed */
      border-color: black;
      border-width: 2px;
  }
  
  #emailForm input {
      padding: 10px;
      width: 80%; /* Můžeš upravit podle potřeby */
      border: 1px solid black; /* Černý okraj */
      border-radius: 5px;
      margin-bottom: 10px;
      height: 35px;
  }
  #successMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 128, 0, 1);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 45px;
    text-align: center;
    z-index: 2000; /* Aby bylo nad formulářem */
  }
  
  button[type="submit"] {
      background-color: #28a745;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 5px;
  }
  
  button[type="submit"]:hover {
      background-color: #218838;
  }
  
  .close-btn {
      margin-top: 10px;
      background-color: #dc3545;
      padding: 10px 20px;
      border-radius: 5px;
  }
  
  .close-btn:hover {
      background-color: #c82333;
  }
  .produkt {
    display: flex;
    flex-direction: row-reverse; /* Obrázek a text vedle sebe ve výchozím stavu */
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    position: relative;
    font-size: 35px;
  }
  
  .produkt-content {
    display: flex;
    flex-direction: column; /* Miniatury pod hlavním obrázkem */
    gap: 10px;
  }
  
  .produkt-image {
    text-align: center;
    width: 100%; /* Hlavní obrázek zabere celou šířku v rámci produktu */
    margin-bottom: 10px; /* Mezera mezi hlavním obrázkem a miniaturami */
  }
  
  .produkt-image img {
    width: 100%;
    height: auto;
    border-radius: 7px;
    max-width: 700px;
  }
  
  .produkt-thumbnails {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .thumbnail {
    width: 180px;
    height: 130px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }
  
  .thumbnail:hover {
    border: 2px solid #000;
  }
  
  .produkt-text {
    flex: 1;
    padding-left: 60px;
    padding-right: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
  
  .produkt-btn {
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    bottom: 3%;
    flex: 1;
    max-width: 200px;
    right: 10%;
  }
  
  .objednani {
    background-color: #005494;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 35px;
    flex: 1;
    max-width: 250px;
  }
  .produkt-tlacitka {
    display: flex;
    justify-content: space-between; /* Rozdělí tlačítka na levý a pravý okraj */
    width: 100%; /* Zajistí, že tlačítka budou mít šířku celé sekce */
    margin-top: 20px; /* Mezera nad tlačítky */
    margin-bottom: 0;
  }
/* Skrýt šipky v Lightbox2 */
.lb-prev, 
.lb-next {
  display: none !important;
}

.zakladni-cena{
  font-size: 50px;
}
  @media (max-width: 1170px) {
    .produkt {
      flex-direction: column; /* Na menších obrazovkách se vše zobrazuje vertikálně */
      align-items: center;
    }
  
    .produkt-content {
      width: 100%; /* Obsah zabere celou šířku */
      margin-bottom: 20px;
    }
  
    .produkt-text {
      align-items: center; /* Text bude zarovnán na střed */
      padding-left: 0;
      padding-right: 0;
    }
  
    .produkt-image {
      width: 100%; /* Obrázek zabere celou šířku */
      margin-bottom: 10px;
    }
  
    .produkt-thumbnails {
      flex-direction: row; /* Miniatury budou vedle sebe, i když jsou pod hlavním obrázkem */
      justify-content: center;
    }
    .thumbnail {
      width: 120px;
      height: 90px;
    }
  }
  
  