html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}
body{
  margin: 0;
}

.uvodni-stranka{
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(foto/hpletadlo.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}
.pozadi__jinestranky{
  width: 100%;
  min-height: 30vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(foto/hpletadlo2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}
.nadpis__jinestranky h1{
  color: #ffff;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
}


/*---NAVIGACE---*/
.menu__item.dropdown {
  position: relative;
}

.menu__item.dropdown .dropbtn {
  cursor: pointer;
}

.menu__item.dropdown .dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0,0,0,0.0);
  width: 250px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 999;
  text-align: left;
  padding: 0;
  margin: 0;
}

.menu__item.dropdown .dropdown-content li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu__item.dropdown .dropdown-content a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 12px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-align: left;
  margin: 0;
}

.menu__item.dropdown .dropdown-content a::after {
  content: '';
  width: 0;
  height: 3px;
  background-color: #005494;
  display: block;
  left: 0;
  transition: 0.7s;
  bottom: -1px;
}

.menu__item.dropdown .dropdown-content a:hover::after {
  width: 100%;
}

.menu__item.dropdown:hover .dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}



  nav img{
  width: 300px;
  }

nav{
  z-index: 2;
  margin: 0;
  display: flex;
  justify-content: space-between; 
  top: 0; 
  width: 100%; 
  transition: top 0.3s;
  text-align: center;
  align-items: center;
}
nav ul{
  margin-right: 20px;
}
nav li{
  padding: 12px;
  display: inline-block;
  position: relative;
  list-style: none;
}
nav li a{
  text-decoration: none;
  color:#ffff;
  font-size: 25px;
  text-transform: uppercase;
  display: inline-block;
}
nav li::after{
  content: '';
  width: 0%;   
  height: 3px;
  background-color: #005494;
  display: block;
  left: 0;
  transition: 0.7s;
  bottom: -1px;
  }
.menu__item:hover::after{
  width: 100%;
}

.language-switcher {
  text-align: center;
  margin-top: 7px;
}

.language-switcher a {
  cursor: pointer;
  margin-right: 15px;
}

.language-switcher img {
  width: 30px;
  height: auto;
  transition: transform 0.2s;
}

.language-switcher img:hover {
  transform: scale(1.1);
}

.language-switcher a:hover::after{
  width: 0%;
}


/*---HAMBURGER---*/


.hamburger{ 
  display: none;
}
.side-navbar {
  font-family: sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: left;
  height: 100%; 
  width: auto; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: #005494; 
  overflow-x: hidden;
  padding-top: 70px; 
  transition: 0.5s; 
  }
.side-navbar__link {
  padding: 16px 32px 16px 42px;
  text-decoration: none;
  font-size: 28px;
  font-weight: 300;
  color: #ffff;
  display: block;
  transition: 0.3s;
  }
.hover:hover {
  color: #7db7e3;
  padding: 16px 42px 16px 42px;
  text-decoration: underline;
  }
.close-icon {
  position: absolute;
  top: 26px;
  right: -10px;
  font-size: 75px;
  transition: 0.3s;
  }
.close-icon:hover{
  color: #7db7e3;
    }


/*---HERO---*/


.hero{
  color: #ffff;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero h1{
  color: white;
  font-size: 90px;
  margin: 20px;
}
.hero p{
  font-size: 35px;
  font-weight: 80;
  margin: 20px;
}
button {
  text-decoration: none;
  display: inline-block;
  color: #ffff;
  text-align: center;
  font-weight: bold;
  width:200px;
  padding: 15px 0;
  margin: 12px 10px;
  border-radius: 25px;
  border: 2px solid #005494;
  background: transparent;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s linear;
}
span{
  text-align: center;
  text-decoration: none;
  color: #ffff;
}
.hero button:hover {
  background-color: #005494;
}


/*---ZÁPATÍ---*/


.navigace-sekundarni {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navigace-sekundarni p {
  margin: 0;
  padding-bottom: 5px;
}

.navigace-sekundarni a {
  color: white;
  text-decoration: none;
}

.navigace-sekundarni a:hover {
  text-decoration: underline; /* Zvýraznění při hoveru */
}

footer{
  color: white;
  background: #1B272F;
}
footer a{
  color: white;
}
footer a:hover{
  text-decoration: underline;
}
footer h2{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  background-color: #1B272F;
}
.footer-row{
  font-size: 15px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-top: 50px;
}
.footer-left, .footer-right, .footer-center{
  flex-basis: 45%;
  padding: 10px;
  margin-bottom: 20px;
  text-align: left;
}
.footer-center{
  padding-left: 80px;
}
.footer-row h2{
  margin: 10px 0;
  width: 100%;
}
.footer-row p{
  line-height: 10px;
}
      
.zarovnaniDoLeva,
.zarovnaniDoPrava {
  width: 85%;
  margin: 50px auto;       /* 50px odsazení shora i zdola, zarovnání na střed */
  display: flex;
  align-items: flex-start;
}

/* Obrázek vlevo / vpravo dle row-reverse nebo row */
.zarovnaniDoLeva {
  flex-direction: row-reverse;
}
.zarovnaniDoPrava {
  flex-direction: row-reverse;
}

/* Text v blocích, zarovnání do bloku */
.zarovnaniDoLeva-text,
.zarovnaniDoPrava-text {
  flex: 1;
  text-align: center;
  padding: 0 60px;
}

/* Část pro obrázek – zarovnáme na střed */
.zarovnaniDoLeva-image,
.zarovnaniDoPrava-image {
  flex: 1;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Samotné obrázky, vycentrované uvnitř rodiče */
.zarovnaniDoLeva-image img,
.zarovnaniDoPrava-image img {
  display: block;
  margin: 0 auto;
  height: 100%;
  border-radius: 7px; /* Pokud chcete zaoblené okraje */
}

.nazev-kategorie2{
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
}
.nazev-kategorie2 p{
  color:#ffff;
  font-size: 45px;
  font-weight: bold;
  margin: auto;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.nazev-kategorie2 h2{
  color: #ffff;
  font-size: 50px;
  margin: 20px;
  padding-bottom: 25px;
}

#sluzby {
  width: 100%;
  margin-bottom: 0;
  background-color: #1B272F;
}

.sluzby-box {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  gap: 60px;
  justify-content: center;
}

.sluzba {
  position: relative;
  color: #1B272F;
  text-align: center;
  font-size: 25px;
  border-radius: 7px;
}

.sluzba img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 7px;
}

.sluzba:hover .overlay {
  opacity: 1;
}

.sluzba-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 25px;
}

.sluzba:hover .sluzba-desc {
  opacity: 1;
}

.odkaz{
  color: #1B272F;
  right: 0;
}
.odkaz img {
  padding-top: 5px;
  width: 50%; 
  height: auto; 
  max-width: 40px;
  padding-right: 10px;
}

.odkaz h3 {
  margin-bottom: 10px; 
}
 


  /*---NABÍDKA---*/
  /***** ZÁKLADNÍ NASTAVENÍ PRODUKTŮ *****/
.produkt h2 {
  color: #005494;
  font-size: 2rem;
}

.produkt p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

/***** KONTEJNER PRODUKTU *****/
.produkt {
  display: flex;
  flex-direction: row;  /* Vše se řadí pod sebe */
  align-items: flex-start;     /* Zarovnání na střed */
  justify-content: space-between;
  border-radius: 10px;
  margin: 0 auto;       /* Sloučeno margin-top, margin-bottom a margin */
  margin-top: 50px;
  padding: 20px;
  position: relative;
  font-size: 35px;
  width: 70%;
}

/***** ČÁST S HLAVNÍM OBRÁZKEM A MINIATURAMI *****/
.produkt-content {
  gap: 10px;
  margin-bottom: 20px;
}

.produkt-content,
.produkt-text {
  display: flex;
  flex-direction: column;
  width: 48%; /* upravte podle potřeby */
  box-sizing: border-box;
}

/* Hlavní obrázek */
.produkt-image {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}
.produkt-image img {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 7px;
}

/***** TEXTOVÁ ČÁST PRODUKTU *****/
.produkt-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;  /* Zarovnání textu na střed */
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  height: 100%;
  padding-left: 45px;
}

/***** TLAČÍTKA *****/
.produkt-tlacitka {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
}

.produkt-tlacitka a{
  color: white;
  text-decoration: none;
}

/* Tlačítko objednání */
.objednani {
  background-color: #005494;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 35px;
  flex: 1;
}

/* Druhé tlačítko (Více) */
.produkt-btn {
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  flex: 1;
  max-width: 200px;
}

/* Základní cena */
.zakladni-cena {
  font-size: 50px;
}

/***** OVERLAY A FORMULÁŘ PRO OBJEDNÁVKU *****/
#emailOverlay {
  font-size: 45px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#emailForm {
  position: absolute;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

#emailForm input {
  padding: 10px;
  width: 80%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 35px;
}

/* Zpráva o úspěšném odeslání */
#successMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 128, 0, 1);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 45px;
  text-align: center;
  z-index: 2000;
}

/***** TLAČÍTKA VE FORMULÁŘI *****/
button[type="submit"] {
  background-color: #28a745;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
}
button[type="submit"]:hover {
  background-color: #218838;
}

.close-btn {
  margin-top: 10px;
  background-color: #dc3545;
  padding: 10px 20px;
  border-radius: 5px;
}
.close-btn:hover {
  background-color: #c82333;
}

/* Karusel – kontejner */
.thumbnail-carousel {
  display: flex;
  align-items: center; /* Srovná šipky a miniatury na střed vertikálně */
  justify-content: center;
  margin: 20px 0;
  position: relative;
}

/* Šipky (vlevo a vpravo) */
.carousel-arrow {
  cursor: pointer;
  user-select: none;
  font-size: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  color: black;
}
.arrow-prev {
  margin-right: 10px;
}
.arrow-next {
  margin-left: 10px;
}

/* Bude vidět jen 4 miniatury */
.thumbnail-wrapper {
  display: flex;
  gap: 10px;
  overflow: hidden;     /* Skryje miniatury, které se nevejdou do šířky */
  width: 100%;         /* Upravit dle potřeb: 4 miniatury + mezery */
}

/* Jednotlivá miniatura */
.thumbnail {
  flex: 0 0 auto;       /* Zabraňuje smrskávání */
  width: 150px;         /* Velikost náhledů */
  height: 100px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
}
.thumbnail:hover {
  border: 2px solid #000;
}



  /*---KONTAKT---*/


  #formular {
    display: flex;
    justify-content: center; /* Zarovná formulář na střed horizontálně */
    align-items: center; /* (Volitelně) zarovná na střed vertikálně, pokud chcete */
  }
  
  form {
    max-width: 1050px; /* Maximální šířka formuláře */
    width: 80%; /* Aby se formulář přizpůsobil velikosti okna */
    margin: 0 auto; /* Zarovnání na střed */
    margin-top: 50px;
    margin-bottom: 65px;
    background-color: black; /* Volitelné pozadí */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Volitelný stín */
    border-radius: 10px; /* Kulaté rohy formuláře */
    margin-left: auto;
    margin-right: auto;
  }

  #dotaz{
    height: 80px;
  }
  
  #jmeno-prijmeni{
    margin-top: 20px;
  }
  #btnOdeslat{
    display: inline-block;
    padding: 10px 20px;
    background-color: #005494;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
    font-size: 40px;
    margin-left: 20%;
    margin-right: 20%;
  }
  
  button#btnOdeslat:hover {
    background-color: #0056b3; /* Změna barvy při přejetí myší */
  }
  
  select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    background-color: #f5f5f5;
  }
  option {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    background-color: white;
    color: #666;
  }

  h1 {
    color: black; /* Barva textu hlavičky */
    text-align: center; /* Zarovnání hlavičky na střed */
    background-color: inherit; /* Sdílení stejného pozadí jako fieldset */
    margin: 0; /* Zrušení výchozích okrajů */
    margin-top: 50px;
    font-size: 50px;
  }
  
  fieldset{
    background-color: #1B272F;
    border: none;
    border-radius: 7px;
    width: 100%; 
    margin: auto;
  }
  label{
    color: #ffff;
    display: block;
    margin-bottom: 10px;
  }
  input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 35px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border-color: black;
    border-width: 1px;
    margin-left: 7%;
    margin-right: 10%;
  }



  @media (max-width: 1370px) {
    .produkt {
      width: 90%;
    }
  }

@media(max-width:1170px){ 
                    .side-navbar a{
                      text-align: center;
                      font-size: 40px;
                      align-items: center;
                    }
                    .side-navbar{
                      text-align: center;
                      padding-top: 125px;
                    }
                    .side-navbar .close-icon {
                      font-size: 85px;
                      width: 50px;
                      height: 50px;
                      padding-top: 0px;
                      text-decoration: none;
                      background-color: #005494;
                      text-align: center;
                    }
                  
                .hero h1{
                  font-size: 75px;
                }
                .hero p{
                  font-size: 25px;
                }      
          
            .nazev-kategorie2 h2{
            color: #ffff;
            font-size: 30px;
            margin: 20px;
            padding-bottom: 25px;
          }
            .sluzba-desc {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            font-size: 20px;
            color: #ffff;
            opacity: 0;
            transition: opacity 0.3s ease;
          }

          #languageSwitch {
            margin-top: 15px;
            margin-left: 15px;
            display: inline-block; /* Ujistí se, že odkazy s vlajkami budou vedle sebe */
          }

          #languageSwitch img {
            width: 80px;  /* Nastavení šířky obrázků (vlajek) */
            height: 50px; /* Nastavení výšky obrázků (vlajek) */
            display: inline-block;
          }

          /*ZÁPATÍ*/
          .footer-row{
          width: 90%;
          margin: auto;
          display: flex;
          justify-content: space-between;
          padding-left: 0;
          }
          footer left, footer right, footer center{
            flex-basis: 45%;
            margin-bottom: 20px;
          }
          footer left h2, footer right h2, footer center h2{
            color: #ffff;
            font-size: 20px;
          }
          footer left p, .footer-right p, .footer-center p{
            color: #ffff;
            font-size: 15px;
        }
          .footer-row p{
            line-height: 10px;
          }
          footer a{
            text-decoration: none;
            font-size: 15px;
          }
        
          /*FORMULÁŘ*/
        #formular{
        justify-content: space-around;
        align-items: center;
      }


      /*NABÍDKA*/
      
        /*FOTOGALERIE*/
    .galerie{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
.zarovnaniDoLeva{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 50px;
}
.zarovnaniDoLeva-image{
  flex: 1;
  text-align: center;
  width: 100%;
  }
.zarovnaniDoLeva-text{
  flex: 1;
  padding: 4%;
  }
.zarovnaniDoPrava {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
} 
.zarovnaniDoPrava-text {
  flex: 1;
  padding: 4%;
  }
.zarovnaniDoPrava-image{
  flex: 1;
  text-align: center;
  width: 100%;
  }
  nav{
    background-color: rgba(255, 255, 255, 0);
  }
  nav ul{
    display: none;
    }
  .hamburger{
    margin: 2.5em;
    display: block;
    cursor: pointer;
    }
}


@media screen and (max-width: 980px) {
  .produkt {
    flex-direction: column;
    align-items: center;
  }
  .produkt-content,
  .produkt-text {
    width: 100%;
    margin-bottom: 20px;
  }
  /* Zmenšíme text */
  .produkt h2 {
    font-size: 2rem;
  }
  .produkt p {
    font-size: 1.4rem;
  }
}

/* -- 2. JEŠTĚ MENŠÍ OBRAZOVKY < 600px -- */
@media screen and (max-width: 600px) {
  .produkt h2 {
    font-size: 1.6rem;
  }
  .produkt p {
    font-size: 1.2rem;
  }
  .produkt-tlacitka {
    display: flex;
    flex-direction: column; /* Skládá tlačítka pod sebe */
    align-items: center;
    gap: 10px; /* Mezera mezi tlačítky */
  }

  /* Tlačítko „Více“ bude první (nahoře) */
  .produkt-btn {
    order: 1;
  }

  /* Tlačítko „Nezávazně objednat“ bude druhé (pod ním) */
  .objednani {
    order: 2;
  }
}

/* -- 3. NEJMENŠÍ DISPLEJE < 300px -- */
@media screen and (max-width: 300px) {
  .produkt h2 {
    font-size: 1.2rem;
  }
  .produkt p {
    font-size: 1rem;
  }
}

@media(max-width:756px){
    /* Vše se složí do jednoho sloupce */
    .sluzby-box {
      grid-template-columns: 1fr;
      width: 80%;
      margin: 0 auto;
    }
    .sluzba {
      width: 100%;
    }
    .sluzba img {
      width: 100%;
      height: auto;
    }
  .footer-row {
    width: 100%;
    margin: auto;
    display: block;
    padding-left: 0;
    text-align: center;
  }
  .footer-left, .footer-center, .footer-right {
    margin-bottom: 20px; /* Přidání mezery mezi jednotlivými sekcemi */
    display: inline-block;
    width: 80%;
  }
  .footer-center{
    padding-left: 0;
  }
  #emailForm {
    width: 100%;
  }
  .sluzba-desc{
    font-size: 25px;
  }
  fieldset{
    background-color: #1B272F;
    border: none;
    border-radius: 7px;
    width: 90%; 
    margin: auto;
  }
  label{
    color: #ffff;
    display: block;
    margin-bottom: 10px;
  }
  input{
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 35px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    border-color: black;
    border-width: 1px;
    margin-left: 30px;
    margin-right: 15px;
  }
  form{
    width: 100%;
    background-color: #1B272F;
  }
  }